branches:
  only:
  - master
language: java
jdk: oraclejdk8
# https://coderwall.com/p/9b_lfq/deploying-maven-artifacts-from-travis
script: mvn --settings settings.xml -DskipTests source:jar javadoc:jar deploy
