<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="org.soluvas.web.olark"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.soluvas.org/schema/web.olark/1.0"
            class="org.soluvas.web.olark.OlarkPackage"
            genModel="src/main/resources/org/soluvas/web/olark/olark.genmodel"/>
   </extension>

</plugin>
